# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
.venv/
venv/
env/

# VS Code
.vscode/

# Uploaded Files
uploads/

# Cache
.pytest_cache/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Models
*.gguf
*.bin
*.pth
*.pt